version: '3.9'

services:
  mysql:
    image: mysql:8.0
    container_name: ecommerce-mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root 
      MYSQL_DATABASE: ecommerce
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 10


  backend:
    build: .
    container_name: ecommerce-backend
    restart: always
    ports:
      - "3000:3000"
    env_file:
      - .env 
    depends_on:
      mysql:
        condition: service_healthy

volumes:
  mysql_data: